<a href="https://colab.research.google.com/github/Shashank-Holla/TSAI-END-Program/blob/main/08-%20HandsOn%202/100_python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [ ]:
# Function to check and print if the given sides of a triangle are of a right angled triangle.
def right_angled_triangle_check(a, b, c):
    x = min(a,b,c)
    z = max(a,b,c)
    y = (a+b+c) - (x+z)
    if z**2 == x**2 + y**2:
        print("Right angled triangle")
    else:
        print("Not a right angled triangle")

right_angled_triangle_check(7,3,5)

Not a right angled triangle

2

In [ ]:
# Function to find radius of a circle given the circumference.
def find_radius_from_cicumference(circumference):
    return circumference/(2*3.14)

find_radius_from_cicumference(44)

7.006369426751592

3

In [ ]:
# Function to find radius of circle given area of the circle.
def find_radius_from_area(area):
    return (area/3.14)**0.5

find_radius_from_area(154)

7.003183989248115

4

In [ ]:
# Program to central angle given the radius and arc length
arc_length = 22
radius = 7
central_angle = arc_length/radius
print("Central angle :", central_angle)

Central angle : 3.142857142857143

5

In [ ]:
# Function to print the area of the maximum possible square inside a circle of given radius
def find_area_of_square(radius):
    print("Area of maximum possible square: ", (2 * radius**2))

find_area_of_square(5)

Area of maximum possible square:  50

6

In [ ]:
# Function to calculate the perimeter of an equilateral triangle given one side.
def perimeter_equilateral_triangle(side):
    return 3*side

perimeter_equilateral_triangle(5)

15

7

In [ ]:
# Function to calculate area of an equilateral triangle given one side.
def area_equilateral_triangle(side):
    return (3**0.5 * side**2)/4

area_equilateral_triangle(4)

6.928203230275509

8

In [ ]:
# Program to calculate and print area of square given one side of the square
square_side_length = 10
area_of_square = square_side_length * square_side_length
print(f'Area of the square= {area_of_square}')

Area of the square= 100

9

In [ ]:
# Program to calculate and print area of rectangle given 2 adjacent sides of the rectangle
side_a = 5
side_b = 10
area_of_rectangle = side_a * side_b
print(f'Area of the rectangle = {area_of_rectangle}')

Area of the rectangle = 50

10

In [ ]:
# Program to calculate and print perimeter of square given one side of the square
square_side_length = 10
perimeter_of_square = square_side_length * 4
print(f'Perimeter of the square= {perimeter_of_square}')

Perimeter of the square= 40

11

In [ ]:
# Program to calculate and print perimeter of rectangle given 2 adjacent sides of the rectangle
side_a = 5
side_b = 10
perimeter_of_rectangle = 2 * (side_a + side_b)
print(f'Perimeter of the rectangle = {perimeter_of_rectangle}')

Perimeter of the rectangle = 30

12

In [ ]:
# Program to print the perimeter of a triangle given 3 sides of the triangle
side_a = 3
side_b = 4
side_c = 5
perimeter_of_triangle = side_a + side_b + side_c
print(f'Perimeter of the triangle = {perimeter_of_triangle}')

Perimeter of the triangle = 12

13

In [ ]:
# Function to find area of the biggest circle that can be drawn inside a square given the length of the square's side.
def big_circle_area(side):
    return ((22/7) * (side/2)**2)

big_circle_area(14)

154.0

14

In [ ]:
# Function to find if two lines are parallel given their slopes.
def line_parallel_check(m1, m2):
    if m1 == m2:
        return "Lines are parallel"
    else:
        return "Lines are not parallel"

line_parallel_check(0.5, 0.5)

'Lines are parallel'

15

In [ ]:
# Function to find if two lines are perpendicular given their slopes.
def line_perpendicular_check(m1, m2):
    if m1 * m2 == -1:
        return "Lines are perpendicular"
    else:
        return "Lines are not perpendicular"

line_perpendicular_check(2, -0.5)

'Lines are perpendicular'

16

In [15]:
# Calculate simple interest for given principle amount, rate and time
principal_amount = 10000
rate = 10
time = 5
simple_interest = (principal_amount * time * rate)/100
simple_interest

5000.0

17

In [16]:
# Function to calculate standard deviation of a list of numbers
def calculate_standard_deviation(test_list):
    mean = sum(test_list) / len(test_list) 
    variance = sum([((x - mean) ** 2) for x in test_list]) / len(test_list) 
    res = variance ** 0.5
    return res

calculate_standard_deviation([-5,-4,-3,-2,-1,0,1,2,3,4,5])

3.1622776601683795

18

In [17]:
# Function to calculate mean of a list of numbers
def calculate_mean(test_list):
    mean = sum(test_list) / len(test_list)
    return mean

calculate_mean([-5,-4,-3,-2,-1,0,1,2,3,4,5])

0.0

19

In [18]:
# Function to calculate number of minutes in duration given in seconds
def calculate_mins(duration):
    minutes = duration // 60
    seconds = duration - (60 * minutes)
    return minutes, seconds

calculate_mins(163)

(2, 43)

20

In [19]:
# Function to calculate number of rupees in given amount in paise
def calculate_rupees(amount):
    rupees = amount // 100
    paise = amount - (100 * rupees)
    return rupees, paise

calculate_rupees(163)

(1, 63)

21

In [20]:
# Function to calculate your weight in moon
def weight_in_moon(weight):
    return weight * 0.165

weight_in_moon(62)

10.23

22

In [22]:
# Function to find if a number is a Fibonacci number or not.
import math
def find_fibo_2(n):
    return math.sqrt(5*n**2+4).is_integer() or math.sqrt(5*n**2-4).is_integer()

find_fibo_2(218922995834555169026)

True

23

In [23]:
# Program to strip vowels from a string
vowel_stripper = [x for x in filter(lambda x: x not in ['a','e','i','o','u'],'veritaserum')]
vowel_stripper

['v', 'r', 't', 's', 'r', 'm']

24

In [25]:
# Program to add every 3rd number in the list.
from functools import reduce
num_list = [x for x in range(1,20)]
sum_every_3 = reduce(lambda x,y : x+y, [num_list[i] for i in range(len(num_list)) if (i+1)%3==0])
sum_every_3

63

25

In [32]:
# Function to generate a number between 1 and 6 like a dice.
import random
def roll_dice():
    return random.randint(1,6)
roll_dice()

3

26

In [6]:
# Function to find if a number is divisible by 3.
def divisibility_by_3(number):
    sum = 0
    while number > 0:
        sum += number % 10
        number = number//10
    return True if sum % 3 == 0 else False

divisibility_by_3(264)

True

27

In [7]:
# Function to find if a number is divisible by 4
def divisibility_by_4(number):
    last_two_digits = number % 100
    return True if last_two_digits % 4 == 0 else False

divisibility_by_4(264)

True

28

In [9]:
# Function to find if the given number is divisible by 5
def divisibility_by_5(number):
    last_digit = number % 10
    return True if last_digit in (0,5) else False

divisibility_by_5(260)

True

29

In [10]:
# Function to find if the given number is divisible by 9
def divisibility_by_9(number):
    sum = 0
    while number > 0:
        sum += number % 10
        number = number//10
    return True if sum % 9 == 0 else False

divisibility_by_9(729)

True

30

In [13]:
# Function to find if the number is divisible by 10
def divisibility_by_10(number):
    last_digit = number % 10
    return True if last_digit == 0 else False

divisibility_by_10(260)

True

31

In [ ]:
# Function to find squares of a list of integers.
def square_of_list(a):
    square_list = []
    for i in a:
        square_list.append(i**2)
    return square_list

square_of_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

32

In [ ]:
# Function to find the cube of a list of integers.
def cube_of_list(a):
    cube_list = []
    for i in a:
        cube_list.append(i**3)
    return cube_list

cube_of_list([1,2,3,4,5])

[1, 8, 27, 64, 125]

33

In [ ]:
# Program to print the reverse of a list.
a_list = [1,2,3,'and','the']
print(f'Reverse of the list is {a_list[::-1]}')

Reverse of the list is ['the', 'and', 3, 2, 1]

34

In [ ]:
# Function to convert a list to a string
def convert_list_to_string(list_b):
    return ' '.join([word for word in list_b])

convert_list_to_string(['hello','how','are','you'])

'hello how are you'

35

In [ ]:
# Function to convert a string to a list
def convert_string_to_list(string_sequence):
    list_c =string_sequence.split()
    return list_c

convert_string_to_list("what are you doing here")

['what', 'are', 'you', 'doing', 'here']

36

In [ ]:
# function to return the characters of a string.
def string_to_char(string_sequence):
    char_list = list(string_sequence)
    return char_list

string_to_char("hello")

['h', 'e', 'l', 'l', 'o']

37

In [ ]:
# Program to swap two variables without temporary variable
x = 'guten'
y = 'morgen'
x, y = y, x
print('New value of x', x)
print('New value of y', y)

New value of x morgen
New value of y guten

38

In [ ]:
# Function to count the occurence of each vowel in a word.
def count_vowels(word):
    vowel_dict = {}.fromkeys(['a', 'e', 'i', 'o', 'u'], 0)
    for char in word:
        if char in vowel_dict:
            vowel_dict[char] += 1
    return vowel_dict

count_vowels("alohomora")

{'a': 2, 'e': 0, 'i': 0, 'o': 3, 'u': 0}

39

In [ ]:
# Program to find if string is a palindrome
string_sequence = 'rorberto'
rev_sequence = reversed(string_sequence)

if list(string_sequence) == list(rev_sequence):
    print(f"{string_sequence} is a palindrome")
else:
    print("Its not a palindrome")

Its not a palindrome

40

In [ ]:
# Function to find the sum of numbers at even indices and odd indices.
def sum_odd_even_indices(sequence):
    odd_indice_sum = 0
    even_indice_sum = 0
    for i in range(len(sequence)):
        if i%2 == 0:
            even_indice_sum += sequence[i]
        else:
            odd_indice_sum += sequence[i]
    return odd_indice_sum, even_indice_sum

sum_odd_even_indices([1,2,1,2,1,2])

(6, 3)

41

In [ ]:
# Function to raise the power of a number by any exponent
def number_exponent(number, exponent):
    return number ** exponent

number_exponent(2,5)

32

42

In [ ]:
# Function to strip the first and the last character in a string.
def strip_first_last(sequence):
    return seq[1:-1]

strip_first_last('string')

'trin'

43

In [ ]:
# Function to print the number of occurences of a substring within a string
def substring_occurence_count(sequence, substring):
    print(sequence.count(substring))

substring_occurence_count('formaldehyde','de')

2

44

In [ ]:
# Function to replace a string within another string once in a sentence and print result.
def replace_substring_string(sequence, substring1, substring2):
    print(sequence.replace(substring1, substring2,1))

replace_substring_string('lion is the king of the jungle', 'lion', 'tiger')

tiger is the king of the jungle

45

In [ ]:
# Function to find the indices where a given character is present in a string.
def find_indice_char(sequence, ch):
    indice_location = []
    for i in range(len(sequence)):
        if sequence[i] == ch:
            indice_location.append(i)
    return indice_location

find_indice_char('abracadabra', 'a')

[0, 3, 5, 7, 10]

46

In [ ]:
# Function to get a substring from a string based on the slice indices.
def get_substring_from_slice(sequence, start_index, end_index):
    return sequence[start_index: end_index]

get_substring_from_slice('abracadabra', 4,8)

'cada'

47

In [ ]:
# Function to invert a boolean value
def boolean_invert(boolean_value):
    return not boolean_value

boolean_invert(True)

False

48

In [ ]:
# Function to find the factorial of a number
def number_factorial(number):
    factorial = 1
    if number < 0:
        return None
    elif number == 0:
        return 1
    else:
        for i in range(1, number+1):
            factorial = i*factorial
    return factorial

number_factorial(5)

120

49

In [ ]:
# Function to remove punctuations from a sentence
def remove_punctuation(sequence):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    no_punct = ""
    for char in sequence:
        if char not in punctuations:
            no_punct = no_punct + char
    return no_punct

remove_punctuation("hello! <sam> klingon?, where are thou$")

'hello sam klingon where are thou'

50

In [ ]:
# Function to repeat a sequence n number of times.
def repeat_sequence(sequence, repeat_number):
    return sequence*repeat_number

repeat_sequence('hello', 5)

'hellohellohellohellohello'

51

In [ ]:
# Function to write the numbers in words
def numbers_in_words(number):
    numbers_words = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    digits = [int(x) for x in str(number)]
    words = [numbers_words[digit] for digit in digits]
    return " ".join(n for n in words)

numbers_in_words(2020)

'two zero two zero'

52

In [ ]:
# Function to write digits of numbers written in words
def words_to_numbers(words):
    numbers_words = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    numbers = []
    words = list(words.split())
    for i in range(len(words)):
        numbers.append(numbers_words.index(words[i]))
    return numbers

words_to_numbers("two zero two zero")

[2, 0, 2, 0]